
@{
    ViewBag.Title = "ConfiramationScreen";
}

<br />
<br />
<br />
<br />
<br />
<br />
<h5 text align="Center">Your application has been submitted</h5>

<h6 align="center">For transaction receipt download @Html.ActionLink("here", "Index", "ConfirmationPDf") </h6>

<br />
<br />
<br />
<br />
<br />
<br />