
@{
    ViewBag.Title = "AdminView";
}


<br />
<div align="center">
    <input class="btn btn-success" type="button" value="CreateApplication" onclick="location.href='@Url.Action("HouseholdView", "HouseHold")'" />
</div>
<br />
<div align="center">
    <input class="btn btn-success" type="button" value="SearchApplication" onclick="location.href='@Url.Action("Search", "Search")'" />
</div>
